name: Pull Request for Documentation Changes

on:
  pull_request_target:
    branches:
      - master
    paths:
      - 'README.md'
      - 'docs/**'

jobs:
  qa:
    uses: stakater/.github/.github/workflows/pull_request_doc_qa.yaml@v0.0.71
    with:
      MD_CONFIG: .github/md_config.json
      DOC_SRC: README.md docs
      MD_LINT_CONFIG: .markdownlint.yaml
  build:
    uses: stakater/.github/.github/workflows/pull_request_container_build.yaml@v0.0.71
    with:
      DOCKER_FILE_PATH: Dockerfile-docs
    secrets:
      CONTAINER_REGISTRY_URL: ghcr.io/stakater
      CONTAINER_REGISTRY_USERNAME: stakater-user
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.STAKATER_GITHUB_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}
