name: Pull Request

on:
  pull_request:
    branches:
      - master
    paths:
      - '**'
      - '!.markdownlint.yaml'
      - '!.vale.ini'
      - '!Dockerfile-docs'
      - '!docs-nginx.conf'
      - '!docs/**'
      - '!theme_common'
      - '!theme_override'

env:
  DOCKER_FILE_PATH: Dockerfile
  DOCKER_UBI_FILE_PATH: Dockerfile.ubi
  KUBERNETES_VERSION: "1.19.0"
  KIND_VERSION: "0.17.0"
  REGISTRY: ghcr.io
  HELM_REGISTRY_URL: "https://stakater.github.io/stakater-charts"

jobs:
  qa:
    uses: stakater/.github/.github/workflows/pull_request_doc_qa.yaml@v0.0.82
    with:
      MD_CONFIG: .github/md_config.json
      DOC_SRC: README.md
      MD_LINT_CONFIG: .markdownlint.yaml

  build:

    permissions:
      contents: read

    runs-on: ubuntu-latest
    name: Build
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        ref: ${{github.event.pull_request.head.sha}}
        fetch-depth: 0

    - name: Login to ghcr registry
      uses: docker/login-action@v3
      with:
        registry: ${{env.REGISTRY}}
        username: stakater-user
        password: ${{secrets.GITHUB_TOKEN}}

    # Setting up helm binary
    - name: Set up Helm
      uses: azure/setup-helm@v4

    - name: Helm chart unit tests
      uses: d3adb5/helm-unittest-action@v2
      with:
        charts: deployments/kubernetes/chart/reloader

    # Publish helm chart
    - name: Login to ghcr via helm
      run: |
        echo ${{secrets.GITHUB_TOKEN}} | helm registry login ghcr.io/stakater --username stakater-user --password-stdin

    - name: Publish Helm chart to ghcr.io
      run: |
        helm package ./deployments/kubernetes/chart/reloader --destination ./packaged-chart
        helm push ./packaged-chart/*.tgz oci://ghcr.io/stakater/charts
        rm -rf ./packaged-chart

    - name: Publish Helm chart to gh-pages
      uses: stefanprodan/helm-gh-pages@master
      with:
        branch: master
        repository: stakater-charts
        target_dir: docs
        token: ${{ secrets.STAKATER_GITHUB_TOKEN }}
        charts_dir: deployments/kubernetes/chart/
        charts_url: ${{ env.HELM_REGISTRY_URL }}
        owner: stakater
        linting: on
        commit_username: stakater-user
        commit_email: stakater@gmail.com

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        check-latest: true
        cache: true

    # Get highest tag and remove any suffixes with '-'
    - name: Get Highest tag
      id: highest_tag
      run: |
        highest=$(git tag -l --sort -version:refname | head -n 1)
        echo "tag=${highest%%-*}" >> $GITHUB_OUTPUT

    - name: Install Dependencies
      run: |
        make install

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v5
      with:
        version: latest
        only-new-issues: false
        args: --timeout 10m

    - name: Helm Lint
      run: |
        cd deployments/kubernetes/chart/reloader
        helm lint

    - name: Install kubectl
      run: |
        curl -LO "https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kubectl"
        sudo install ./kubectl /usr/local/bin/ && rm kubectl
        kubectl version --short --client
        kubectl version --short --client | grep -q ${KUBERNETES_VERSION}

    - name: Install Kind
      run: |
        curl -L -o kind https://github.com/kubernetes-sigs/kind/releases/download/v${KIND_VERSION}/kind-linux-amd64
        sudo install ./kind /usr/local/bin && rm kind
        kind version
        kind version | grep -q ${KIND_VERSION}

    - name: Create Kind Cluster
      run: |
        kind create cluster
        kubectl cluster-info

    - name: Test
      run: make test

    - name: Generate Tags
      id: generate_tag
      run: |
        sha=${{ github.event.pull_request.head.sha }}
        tag="SNAPSHOT-PR-${{ github.event.pull_request.number }}-${sha:0:8}"
        ubi_tag="SNAPSHOT-PR-${{ github.event.pull_request.number }}-UBI-${sha:0:8}"
        echo "GIT_TAG=$(echo ${tag})" >> $GITHUB_OUTPUT
        echo "GIT_UBI_TAG=$(echo ${ubi_tag})" >> $GITHUB_OUTPUT

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Generate image repository path for ghcr registry
      run: |
        echo GHCR_IMAGE_REPOSITORY=${{env.REGISTRY}}/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV

    # To identify any broken changes in dockerfiles or dependencies
  
    - name: Build Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ${{ env.DOCKER_FILE_PATH  }}
        pull: true
        push: false
        build-args: BUILD_PARAMETERS=${{ env.BUILD_PARAMETERS }}
        cache-to: type=inline
        platforms: linux/amd64,linux/arm,linux/arm64
        tags: |
          ${{ env.GHCR_IMAGE_REPOSITORY }}:${{ steps.generate_tag.outputs.GIT_TAG }}
        labels: |
          org.opencontainers.image.source=${{ github.event.repository.clone_url }}
          org.opencontainers.image.created=${{ steps.prep.outputs.created }}
          org.opencontainers.image.revision=${{ github.sha }}

    - name: Build Docker UBI Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ${{ env.DOCKER_UBI_FILE_PATH  }}
        pull: true
        push: false
        build-args: |
          BUILD_PARAMETERS=${{ env.BUILD_PARAMETERS }}
          BUILDER_IMAGE=${{ env.GHCR_IMAGE_REPOSITORY }}:${{ steps.highest_tag.outputs.tag }}
        cache-to: type=inline
        platforms: linux/amd64,linux/arm64
        tags: |
          ${{ env.GHCR_IMAGE_REPOSITORY }}:${{ steps.generate_tag.outputs.GIT_UBI_TAG }}
        labels: |
          org.opencontainers.image.source=${{ github.event.repository.clone_url }}
          org.opencontainers.image.created=${{ steps.prep.outputs.created }}
          org.opencontainers.image.revision=${{ github.sha }}

    # - name: Comment on PR
    #   uses: mshick/add-pr-comment@v2
    #   if: always()
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     message-success: '@${{ github.actor }} Images are available for testing. `docker pull ${{ env.GHCR_IMAGE_REPOSITORY }}:${{ steps.generate_tag.outputs.GIT_TAG }}`\n`docker pull ${{ env.GHCR_IMAGE_REPOSITORY }}:${{ steps.generate_tag.outputs.GIT_UBI_TAG }}`'
    #     message-failure: '@${{ github.actor }} Yikes! You better fix it before anyone else finds out! [Build](https://github.com/${{ github.repository }}/commit/${{ github.event.pull_request.head.sha }}/checks) has Failed!'
    #     allow-repeats: true

    # - name: Notify Slack
    #   uses: 8398a7/action-slack@v3
    #   if: always() # Pick up events even if the job fails or is canceled.
    #   with:
    #     status: ${{ job.status }}
    #     fields: repo,author,action,eventName,ref,workflow
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.STAKATER_GITHUB_TOKEN }}
    #     SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}
